.header{
    display: flex;
    justify-content: right;
    height: 40px;
    background-color: grey ;
}

.header_nav{
    justify-content: center;
}
.header_list{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.item{
    margin-right: 80px;
    list-style-type: none;
}

.link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.h1{
    display: flex;
    justify-content: right;
    margin-right: 550px; 
    margin-top: 40px;
    }

.p{display: flex;
    justify-content: right;
    margin-right: 550px; 
}   

.logo{
    margin-top:-100px;
    margin-left: 330px;
}

.main{
    background-color: #eef8ff;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.information{
    margin-left: 40px;
}
.footer_logo{
    margin-left: 20px;
    margin-top: 40px;
    text-decoration: none;
}
.year{
    margin-top: -15px;
    margin-left: 550px;
}

.footer_rs{
    margin-left: 540px;

}